---
import HeadingText from "../HeadingText.astro";
import Link from "../icons/Link.astro";

import { PROYECTOSENGLISH } from "../../data/proyectos";
---

<section class="my-20">
    <HeadingText title="Projects" subtitle="Great projects, great teachings" />

    <div class="space-y-5">
        {
            PROYECTOSENGLISH.map((proyecto) => (
                <article class="flex flex-col justify-between items-center lg:flex-row bg-white/10 rounded-xl py-20 p-10 lg:px-20 mt-10 group hover:scale-[1.03] lg:hover:bg-white/90 transition-all overflow-hidden">
                    <div>
                        <div class="flex gap-5 items-center justify-center">
                            <h3 class="text-center lg:text-left font-bold text-4xl sm:text-5xl md:text-6xl lg:text-8xl  lg:group-hover:text-gray-950">
                                {proyecto.title}
                            </h3>
                            <div class="hidden lg:block">
                                <a
                                    href={`${proyecto.link}`}
                                    target="_blank"
                                    rel="norefered noopener"
                                >
                                    <Link class="w-14 h-w-14 text-gray-950 bg-secondary rounded-full lg:block p-2 scale-0 transition-transform group-hover:scale-100" />
                                </a>
                            </div>
                        </div>
                        <p class="text-center lg:text-left text-white/80 text-md lg:text-lg lg:group-hover:text-gray-950">
                            {proyecto.description}
                        </p>
                        <div class="flex items-center justify-center lg:justify-start mt-10 gap-3">
                            {proyecto.technologies.map((item) => (
                                <img
                                    src={`/images/${item}.svg`}
                                    alt=""
                                    class="w-7 h-auto"
                                />
                            ))}
                            <a
                                href={`${proyecto.link}`}
                                target="_blank"
                                rel="norefered noopener"
                            >
                                <Link class="w-10 h-w-10 text-gray-950 bg-secondary rounded-full block  p-2 lg:hidden" />
                            </a>
                        </div>
                    </div>
                    <div class="flex flex-row gap-3 lg:relative h-36 lg:h-52 lg:w-1/3 justify-center">
                        <img
                            src={`${proyecto.image}`}
                            alt="Imagen de pagina web de gartol hecha por Daniel Castillo Balboa"
                            class="h-auto w-full lg:absolute lg:-top-10 lg:right-0 hidden lg:block lg:group-hover:scale-75 lg:group-hover:opacity-0 transition-all ease-in-out"
                        />
                        <img
                            src={`${proyecto.image2}`}
                            alt="Imagen de pagina web de gartol hecha por Daniel Castillo Balboa"
                            class="w-full h-fit top-0 lg:h-auto lg:w-full lg:absolute lg:-top-14 lg:right-0 lg:group-hover:scale-125 lg:scale-100 lg:opacity-0 lg:group-hover:opacity-100 transition-all ease-in-out"
                        />
                    </div>
                </article>
            ))
        }
    </div>
</section>
